{% extends 'base.html.twig' %}

{% block title %}Liste des reservations {% endblock %}

{% block body %}
    <div class="container">

        <h1 class="font-weight-normal text-success">Liste des reservations</h1>

        <p class="alert alert-success h5">Toutes les reservation dans le temps</p>

        {% for booking in app.user.bookings %}
            {% set book = booking.ad %}
        <div class="row bg-dark text-white-50 pt-2 border-bottom mb-1">
            <div class="col-md-4">
                <img src="{{ book.coverImage }}" alt="image de l'annonce {{ book.title }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-9"><h4 class="text-success">{{ book.title }}</h4></div>
                    <div class="col">
                        {% set comment = book.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            <span class="float-right">{% include 'partials/rating.html.twig' with {'rating' : comment.rating} %}</span>
                        {% else %}
                            <a href="{{ path('booking_show', {'id': booking.id}) }}#comment" class="badge badge-success float-right"><strong>Noter!?!</strong></a>
                        {% endif %}
                    </div>
                </div>

                <p>
                    Reservation <strong>#{{ booking.id }}</strong> <br>
                    Allant du <strong>{{ booking.startDate | date('d/m/Y') }}</strong> au <strong>{{ booking.endDate | date('d/m/Y') }}</strong>.
                    <br>
                    <strong>Durée:</strong> <span>{{ booking.duration }} jour(s)</span> pour un montant de {{ booking.amount | number_format('0', '.', ' ')}} XAF.
                    <a href="{{ path('booking_show', {'id' : booking.id}) }}" class="btn btn-success float-right mb-2">Plus de detail sur la reservation.</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}