<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">

    <title> NephBNB - {% block title %}Administration!{% endblock %}</title>

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          rel="stylesheet"/>
{#    <link rel="stylesheet" href="/dist/css/bootstrap-4.5.2.min.css">#}
{#    <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">#}
    {{ encore_entry_link_tags('js/app') }}
    {% block stylesheets %}{% endblock %}

</head>
<body>

{% include 'admin/partials/header.html.twig' %}


{% block body %}{% endblock %}

{% include 'admin/partials/footer.html.twig' %}

{#<script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>#}
{#<script src="{{ asset('build/runtime.js') }}"></script>#}
{{ encore_entry_script_tags('js/app') }}
{% block javascripts %}{% endblock %}

</body>
</html>
