{% extends 'base.html.twig' %}

{% block title %} Bienvenue sir le meilleur site d'hebergement touristique au Cameroun {% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3 bg-dark">
            <h1 class="display-3 text-light">Menelik</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dignissimos excepturi fugiat mollitia necessitatibus odit perferendis repellendus repudiandae. Dolorem ipsa itaque laborum magnam perferendis quae soluta ut! Similique, sunt..</p>
            <hr class="my-4">
            <p>Vous rêvez d'une nuit de rêve??? Visitez le site NephBNB et vous ne serez pas decu</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
            </p>
        </div>

        <h3 class="h2 mt-3 mb-4 text-primary font-weight-normal">Nos meilleurs appartements</h3>
        <div class="row">
            {% for ad in ads %}
                {% include 'ad/_ad.html.twig' with {'ad' : ad.annonce} %}
            {% endfor %}
        </div>

        <h4 class="h2 mt-3 mb-4 text-primary font-weight-normal">Nos hébergeurs VIP</h4>
        <div class="row">
            {% for u in users %}
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-header align-items-center d-flex">
                        <img src="{{ u.user.picture }}" alt="{{ u.user.firstName }}" class="nn-avatar avatar-medium float-left mr-3">
                        <h4 class="card-title">{{ u.user.fullName }}</h4>
                        <p class="lead"><a href="{{ path('user_show', {'slug' : u.user.slug}) }}" class="btn btn-success ml-5">Voir profil</a></p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>{{u.user.description | raw}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}